:root{

    --bgwhite:#ffffff;
    --bgdark1: #212931;
    --bgdark2: #1e252d;
    --bggrey: #eeeeee;

    --tx1: #212931;
    --tx2: #ffffff;
    --tx3: #909498;
    --tx4: #717981;
    --tx5: #000000;
    --tx6: #1e252d;
    --tx7: #eeeeee;

    --hed1-size: 80px;
    --hed1-height: 80px;
    --hed2-size: 64px;
    --hed2-height: 70.4px;
    --hed3-size: 12.8px;
    --hed3-height: 19.2px;
    --hed4-size: 16px;
    --hed4-height: 38px;

}

*{
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: Merriweather, Georgia, serif;
    font-size: var(--hed4-size);
    color: var(--tx1);
    background-image: linear-gradient(to bottom,rgba(33, 41, 49, 0.7),  rgba(33, 41, 49, 0.7)), url(assets/images/bg.jpg);
    background-size: 100vw 220vh;
    background-repeat: no-repeat;
    background-color: var(--bgdark1);
    color: #ffffff;
}

header{
    width: 100vw;
    height: 100vh;
    color: var(--tx2);
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.header-content{
    margin-top: 30vh;
    text-align: center;
    padding-left: 25vw;
    padding-right: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title{
    font-size: var(--hed1-size);
    margin-bottom: 20px;
}

.header-description{
    font-size:16.5px;
}

.header-img{
    margin-top: 50px;
    width: 85px;
    height: 85px;
}