:root{

    --bgwhite:#ffffff;
    --bgdark1: #212931;
    --bgdark2: #1e252d;
    --bggrey: #eeeeee;

    --tx1: #212931;
    --tx2: #ffffff;
    --tx3: #909498;
    --tx4: #717981;
    --tx5: #000000;
    --tx6: #1e252d;
    --tx7: #eeeeee;

    --hed1-size: 80px;
    --hed1-height: 80px;
    --hed2-size: 64px;
    --hed2-height: 70.4px;
    --hed3-size: 12.8px;
    --hed3-height: 19.2px;
    --hed4-size: 16px;
    --hed4-height: 38px;

}

*{
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: Merriweather, Georgia, serif;
    font-size: var(--hed4-size);
    color: var(--tx1);
    background-image: linear-gradient(to bottom,rgba(33, 41, 49, 0.7),  rgba(33, 41, 49, 0.7)), url(assets/images/bg.jpg);
    background-size: 100vw 250vh;
    background-repeat: no-repeat;
    background-color: var(--bgdark1);
}

header{
    width: 100vw;
    height: 65vh;
    color: var(--tx2);
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.header-content{
    margin-top: 45vh;
    text-align: center;
    padding-left: 25vw;
    padding-right: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title{
    font-size: var(--hed1-size);
    margin-bottom: 20px;
}

.header-description{
    font-size:16.5px;
}

.header-img{
    margin-top: 30px;
    width: 85px;
    height: 85px;
}

main{
    margin-left: 12vw;
    margin-right: 12vw;
}

#nav{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.nav1{
    background-color: var(--bgwhite);
    width: 18%;
    height: 100%;
    font-weight: 900;
    color: var(--tx1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.nav2{
    background-color: rgba(238, 238, 238, 0.25);
    width: 15%;
    height: 100%;
    color: var(--tx2);
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.nav3{
    background-color: rgba(238, 238, 238, 0.25);
    width: 47%;
    height: 100%;
    color: var(--tx2);
    font-weight: 900;
    display: flex;
    align-items: center;
    padding: 12px;
}

.icons{
    background-color: rgba(238, 238, 238, 0.25);
    width: 20%;
    height: 100%;
    color: var(--tx2);
    padding: 12px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.icons i{
    width: 30px;
    height: 30px;
}

#container{
    width: 100%;
    background-color: var(--bgwhite);
}

.date{
    height: 150px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.date-d{
    width: 15%;
    color: var(--tx1);
}

.line{
    width: 30%;
    background-color: var(--bggrey);
    height: 2px;
}

.head{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.head h1{
    font-size: var(--hed2-size);
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    margin-bottom: 30px;
    color: var(--tx1);
}

.head em{
    font-size:var(--hed3-size);
    text-align: center;
    margin-bottom: 55px;
    color: var(--tx1);
}

.head img{
    width: 80%;
    margin-bottom: 55px;
}

#btn-head{
    width: 18%;
    height: 50px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 900;
    background-color: #ffffff;
}

.cards-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 650px 650px 650px;
    grid-template-areas: 
    "card1 card2"
    "card3 card4"
    "card5 card6";
}

.card1{
    grid-area: card1;
}

.card2{
    grid-area: card2;
}

.card3{
    grid-area: card3;
}

.card4{
    grid-area: card4;
}

.card5{
    grid-area: card5;
}

.card6{
    grid-area: card6;
}

#card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border:1px solid var(--bggrey);
}

.card-date{
    font-size: var(--hed3-size);
    color: var(--tx4);
    margin-bottom: 18px;
}

.card-title{
    font-family:"Source Sans Pro", Helvetica, sans-serif ;
    font-size: var(--hed3-height);
    font-weight: 900;
}

#card img{
    width: 80%;
    margin-bottom: 22px;
}

.card-description{
    width: 80%;
    font-size: 16px;
    text-align: justify;
    line-height: 30px;
    margin-bottom: 18px;
}

.card-btn{
    width: 30%;
    height: 40px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 900;
    background-color: #ffffff;
}